//- Alert module
if(status === "success")
    div(class="alert alert-success") #{message}
if(status === "info")
    div(class="alert alert-info") #{message}
if(status === "error")
    div(class="alert alert-danger") #{message}