extend layout.pug

block meta
    title Login | Books
    
block title
    h1(class="card-header text-center") Login

block content
    include modules/module_alert.pug
    
    //Login form
    form(action="/login", method="post")
        div(class="form-group")
            label(for="username") Username
            input(type="text", class="form-control bg-light", id="username", name="username", value=(data&&data.username)?data.username:"", required)
        div(class="form-group")
            label(for="password") Password
            input(type="password", class="form-control bg-light", id="password", name="password", required)
        button(type="submit", class="btn btn-primary") Login